KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/start.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/isrs.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/kb.o \
$(ARCHDIR)/main.o \
$(ARCHDIR)/shell.o \
$(ARCHDIR)/mm.o \
